@charset "utf-8";

/************************** 공통 정의 *******************************/
.dropdownArea {
	display: flex;
	flex-direction: column;
	position: relative;
	/*border: 1px solid red;*/
}

.optionsArea {
	position: absolute;
	background-color: #fff;
	display: none;
	width: 100%;
	border-radius: var(--radiusBasic);
	border: var(--inputLineWeight) solid var(--inputLineBasic);
	top: 7rem;
	max-height: 20rem;
	overflow: auto;
	cursor: pointer;
}

.optionsAreaForSearch {
	position: absolute;
	background-color: #fff;
	display: none;
	width: 100%;
	border-radius: var(--radiusBasic);
	border: var(--inputLineWeight) solid var(--inputLineBasic);
	top: 5rem;
	max-height: 20rem;
	overflow: auto;
	cursor: pointer;
}

.options {
	border-bottom: var(--inputLineWeight) solid var(--tableTrTdBetweenLine);
	padding-left: 1rem;
	padding-top: 0.6rem;
	height: 4rem;
}

.options:hover {
	/*font-weight: var(--fontWeightBold);*/
	background-color: var(--tableTrTdBetweenLine);
}