@charset "utf-8";

/************************** 공통 정의 *******************************/
.csTitleArea {
	display: inherit;
}
/************************** Noti, Qna, List *******************************/


/************************** Faq  *******************************/
.faqRow {
	border-bottom: 0.05rem solid var(--tableTrTdBetweenLine);
	width: 100%;
	/*border: 1px solid dodgerblue;*/
	padding-bottom: 2.5rem;
	height: 18.5rem;
	padding-top: 3rem;
	cursor: pointer;
}
