@charset "utf-8";

/************************** 공통 정의 *******************************/
.csTitleArea {
	display: inherit;
}
/************************** Noti, Qna, List *******************************/
.listColumn {
	/*border: 1px solid dodgerblue;*/
}

.listSubjectArea {
	display: flex;
	margin-bottom: 0.5rem;
	max-height: 3.5rem;
	overflow-y: hidden;
	align-content: center;
	/*border: 1px solid dodgerblue;*/
}
.listColumn:first-child {
	flex-grow: 1;
	padding-left: 1rem;
	/*max-width: 80rem;*/
}

.listColumn:last-child {
	padding-right: 1rem;
	min-width: 10rem;
	margin-left: 2rem;
}

.listColumnTitle {
	color: var(--fontListSubInfoTitle);
	font-size: var(--fontSizeListInfoTitle);
	font-weight: var(--fontWeightMiddle);
}

.listColumnBar {
	background-color: var(--bgListBarTypeLine);
	height: 6rem;
	width: 0.05rem;
}

/************************** Faq  *******************************/
.faqRow {
	border-bottom: 0.05rem solid var(--tableTrTdBetweenLine);
	width: 100%;
	/*border: 1px solid dodgerblue;*/
	padding-bottom: 2.5rem;
	height: 18.5rem;
	padding-top: 3rem;
	cursor: pointer;
}
