@charset "utf-8";

/************************** 공통 정의 *******************************/
.signContainer {
	width: var(--widthRegistLoginPage);
	min-height: var(--heightSignContentMin);
	background-color: var(--bgContentBasicBgColor);
	border-radius: var(--radiusBasic);
	display: flex;
	justify-content: center;
}

.signTitleArea {
	margin: 4rem 0 4rem 0;
}


/************************** 로그인 *******************************/
.loginSubMenuArea {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 5rem;
}

.loginSubMenu {
	font-size: 1.4rem;
	font-weight: var(--fontWeightMiddle);
	color: var(--fontBasicColor);
	margin: 0 2.5rem 0 2.5rem;
	cursor: pointer;
}

/* 로그인 및 회원가입 가입경로 선택 페이지 */
.naverLogin {
	width: 40rem;
	height: 4.5rem;
	text-align: center;
	background-color: #03c75a;
	border-radius: var(--radiusBasic);
	color: var(--fontWhiteColor);
	font-weight: var(--fontWeightBold);
	padding-top: 0.9rem;
	margin-bottom: 1rem;
}

.kakaoLogin {
	width: 40rem;
	height: 4.5rem;
	text-align: center;
	background-color: #fee500;
	border-radius: var(--radiusBasic);
	color: var(--fontColorBasic);
	font-weight: var(--fontWeightBold);
	padding-top: 0.9rem;
	margin-bottom: 15rem;
}

/************************** 회원 분류 선택 *******************************/
.classifyInfo {
	color: var(--fontInfoColor);
	font-size: 1.4rem;
	font-weight: var(--fontWeightBold);
	text-align: center;
	margin: 7rem 0 7rem 0;
}

.goLogin {
	font-size: 1.4rem;
	color: var(--fontBasicColor);
	font-weight: var(--fontWeightBold);
	text-align: center;
}


/************************** 개인회원 약관 동의 *******************************/
.policyArea {
	width: 90%;
}

.policyTitle {
	font-size: 2rem;
	color: var(--fontBasicColor);
	font-weight: var(--fontWeightBold);
	margin-bottom: 1rem;
}

.policyContent {
	width: 100%;
	height: 35rem;
	border: 0.5px solid #ececec;
	border-radius: var(--radiusBasic);
	padding: 1rem;
	margin-bottom: 1rem;
	font-size: 1.3rem;
	overflow-y: scroll;
}

.buttonArea {
	display: flex;
	justify-content: center;
	margin-bottom: 4rem;
}

/************************** 개인회원/기업회원 정보입력 *******************************/
.infoArea {
	width: 40rem;
	/*border: 1px solid red;*/
}

.loginType {
	font-weight: var(--fontWeightMiddle);
	color: var(--fontBasicColor);
	padding-left: 0.5rem;
}

.mobileArea {
	display: flex;
	align-items: center;
}

.hyphen {
	text-align: center;
	width: 3.5rem;
	margin-top: 2.5rem;
}

.btnArea {
	margin-top: 2.5rem;
	margin-left: 1rem;
	padding-top: 0.2rem;
	width: 12rem;
	height: 3.5rem;
	text-align: center;
	border-radius: var(--radiusBasic);
	background-color: var(--bgBtnBasic);
	cursor: pointer;
	display: inline-block;
}

.btnDisabledArea {
	display: inline-block;
	margin-top: 2.5rem;
	margin-left: 1rem;
	padding-top: 0.2rem;
	width: 12rem;
	height: 3.5rem;
	text-align: center;
	border-radius: var(--radiusBasic);
	background-color: var(--bgBtnDisabled);
}


/************************** 가입완료 *******************************/
.signEndUserName {
	font-size: 4.8rem;
	margin-top: 15rem;
	font-weight: var(--fontWeightBold);
	text-align: center;
	margin-bottom: 6rem;
}

.signEndResult {
	font-size: 4rem;
	font-weight: var(--fontWeightBold);
	text-align: center;
	margin-bottom: 3rem;
}

.signEndInfo {
	font-size: 2rem;
	font-weight: var(--fontWeightMiddle);
	text-align: center;
	margin-bottom: 10rem;
}

.signEndBtnArea {
	display: flex;
	justify-content: center;
}


/************************** 아이디찾기/비밀번호 찾기 *******************************/
