@charset "utf-8";

/************************** 공통 정의 *******************************/
.titleStyle {
    font-size: var(--fontSizeRegistLoginPageTitle);
    color: var(--fontBasicColor);
    text-align: center;
    font-weight: var(--fontWeightBold);
}
