@charset "utf-8";

/************************** 공통 정의 *******************************/





/************************** popup *******************************/
.popContent {
	font-size: var(--fontSizePopupContent);
	color: var(--fontBasicColor);
	padding: 4rem 0 4rem 0;
	white-space: pre-wrap;
	line-height: 20px;
}

/************************** Info Message *******************************/
.infoMessageArea {
	color: var(--fontInfoColor);
	font-size: var(--fontSizeInfo);
	font-weight: var(--fontWeightMiddle);
	/*border: 1px solid red;*/
	width: 100%;
	padding: var(--paddingInfoBasic);
	margin-top: 0.5rem;
}