@charset "utf-8";

/************************** 공통 정의 *******************************/
/* 컨텐츠 페이지 상단의 search */
.searchWrap {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	height: 6rem;
	background-color: var(--bgContentBasicBgColor);
	margin-bottom: var(--marginBetweenContentBlock);
	border-radius: var(--radiusBasic);
}

/************************** 공지사항 *******************************/
